include ../mixins/_svgsprite.pug

doctype html
html(lang="en")
	block vars
	head
		block title
			title #{pageTitle} - My Static Site
		link(rel='stylesheet', href='assets/css/screen.css')
	body(class=bodyClass)
		- console.log(locals)
		//- h1 #{locals[0].company}
		block content

		script(src='assets/js/script.js')
